%h1 Listing items

%table
  %tr
    %th Name
    %th Price
    %th Quantity
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= show_price item.price
      %td= item.quantity
      %td= link_to 'Show', item
      %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
